In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import lightgbm as lgb

In [2]:
energy = pd.read_csv('https://raw.githubusercontent.com/cjfghk5697/forecastsolar/main/csv%20file/energy.csv')
dangjin_fcst = pd.read_csv('https://raw.githubusercontent.com/cjfghk5697/forecastsolar/main/csv%20file/dangjin_fcst_data.csv')
ulsan_fcst = pd.read_csv('https://raw.githubusercontent.com/cjfghk5697/forecastsolar/main/csv%20file/ulsan_fcst_data.csv')

In [7]:
#날짜 데이터로 변환
dangjin_fcst['Forecast_time'] = pd.to_datetime(dangjin_fcst['Forecast time'])
ulsan_fcst['Forecast_time'] = pd.to_datetime(ulsan_fcst['Forecast time'])

In [4]:
#예측 데이터 중 14시 데이터 가져옴
dangjin_fcst_14 = dangjin_fcst[dangjin_fcst['Forecast_time'].dt.hour==14]
ulsan_fcst_14 = ulsan_fcst[ulsan_fcst['Forecast_time'].dt.hour==14]

In [5]:
#예측시간이 10~33시 가져옴
dangjin_fcst_14 = dangjin_fcst_14[(dangjin_fcst_14['forecast']>=10)&(dangjin_fcst_14['forecast']<=33)]
ulsan_fcst_14 = ulsan_fcst_14[(ulsan_fcst_14['forecast']>=10)&(ulsan_fcst_14['forecast']<=33)]

In [6]:
#시간 더함.
def to_date(x):
    return pd.DateOffset(hours=x)

dangjin_fcst_14['Forecast_time'] = dangjin_fcst_14['Forecast_time'] + dangjin_fcst_14['forecast'].map(to_date)
ulsan_fcst_14['Forecast_time'] = ulsan_fcst_14['Forecast_time'] + ulsan_fcst_14['forecast'].map(to_date)

/opt/conda/envs/sklearn-env/lib/python3.9/site-packages/pandas/core/arrays/datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(

In [8]:
dangjin_fcst_14.head(10)

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud,Forecast_time
22,2018-03-01 14:00:00,10.0,-2.0,55.0,6.7,336.0,1.0,2018-03-02 00:00:00
23,2018-03-01 14:00:00,13.0,-4.0,55.0,5.5,339.0,1.0,2018-03-02 03:00:00
24,2018-03-01 14:00:00,16.0,-5.0,60.0,4.3,344.0,1.0,2018-03-02 06:00:00
25,2018-03-01 14:00:00,19.0,-2.0,55.0,2.0,345.0,1.0,2018-03-02 09:00:00
26,2018-03-01 14:00:00,22.0,1.0,45.0,0.8,256.0,1.0,2018-03-02 12:00:00
27,2018-03-01 14:00:00,25.0,3.0,50.0,2.3,270.0,1.0,2018-03-02 15:00:00
28,2018-03-01 14:00:00,28.0,1.0,55.0,1.9,264.0,1.0,2018-03-02 18:00:00
29,2018-03-01 14:00:00,31.0,-1.0,70.0,1.6,68.0,1.0,2018-03-02 21:00:00
170,2018-03-02 14:00:00,10.0,-2.0,80.0,2.4,90.0,2.0,2018-03-03 00:00:00
171,2018-03-02 14:00:00,13.0,-2.0,75.0,2.9,125.0,2.0,2018-03-03 03:00:00

In [9]:
#열 바꿈 forcast time 열을 forcast_time으로 바꿈
dangjin_fcst_14 = dangjin_fcst_14[['Forecast_time', 'Temperature', 'Humidity', 'WindSpeed', 'WindDirection', 'Cloud']]
ulsan_fcst_14 = ulsan_fcst_14[['Forecast_time', 'Temperature', 'Humidity', 'WindSpeed', 'WindDirection', 'Cloud']]

In [11]:
dangjin_fcst_14.head()

         Forecast_time  Temperature  Humidity  WindSpeed  WindDirection  Cloud
22 2018-03-02 00:00:00         -2.0      55.0        6.7          336.0    1.0
23 2018-03-02 03:00:00         -4.0      55.0        5.5          339.0    1.0
24 2018-03-02 06:00:00         -5.0      60.0        4.3          344.0    1.0
25 2018-03-02 09:00:00         -2.0      55.0        2.0          345.0    1.0
26 2018-03-02 12:00:00          1.0      45.0        0.8          256.0    1.0

In [12]:
#주기 3시간에서 1시간 단위로 생성
dangjin_fcst_14_ = pd.DataFrame()
dangjin_fcst_14_['Forecast_time'] = pd.date_range(start='2018-03-02 00:00:00', end='2021-03-01 23:00:00', freq='H')

ulsan_fcst_14_ = pd.DataFrame()
ulsan_fcst_14_['Forecast_time'] = pd.date_range(start='2018-03-02 00:00:00', end='2021-03-01 23:00:00', freq='H')

In [13]:
#그냥 다 붙임
dangjin_fcst_14_ = pd.merge(dangjin_fcst_14_, dangjin_fcst_14, on='Forecast_time', how='outer')
ulsan_fcst_14_ = pd.merge(ulsan_fcst_14_, ulsan_fcst_14, on='Forecast_time', how='outer')

In [14]:
dangjin_fcst_14_.head()

        Forecast_time  Temperature  Humidity  WindSpeed  WindDirection  Cloud
0 2018-03-02 00:00:00         -2.0      55.0        6.7          336.0    1.0
1 2018-03-02 01:00:00          NaN       NaN        NaN            NaN    NaN
2 2018-03-02 02:00:00          NaN       NaN        NaN            NaN    NaN
3 2018-03-02 03:00:00         -4.0      55.0        5.5          339.0    1.0
4 2018-03-02 04:00:00          NaN       NaN        NaN            NaN    NaN

In [15]:
#선형보간 nan값 넣음선형보간 nan값 넣음
dangjin_fcst = dangjin_fcst_14_.interpolate()
ulsan_fcst = ulsan_fcst_14_.interpolate()
dangjin_fcst = dangjin_fcst_14_.interpolate()
ulsan_fcst = ulsan_fcst_14_.interpolate()

In [16]:
dangjin_fcst.head()

        Forecast_time  Temperature   Humidity  WindSpeed  WindDirection  Cloud
0 2018-03-02 00:00:00    -2.000000  55.000000        6.7     336.000000    1.0
1 2018-03-02 01:00:00    -2.666667  55.000000        6.3     337.000000    1.0
2 2018-03-02 02:00:00    -3.333333  55.000000        5.9     338.000000    1.0
3 2018-03-02 03:00:00    -4.000000  55.000000        5.5     339.000000    1.0
4 2018-03-02 04:00:00    -4.333333  56.666667        5.1     340.666667    1.0

In [17]:
dangjin_fcst['Forecast_time'] = dangjin_fcst['Forecast_time'].astype(str)
ulsan_fcst['Forecast_time'] = ulsan_fcst['Forecast_time'].astype(str)

In [20]:
def train_datast(energy_df, fcst_df, target):
    # 일기 예보 있는 날짜만 선택
    # 24번째 행부터 가져옴 그리고 열의 순서로 인덱스 설정
    energy = energy_df.loc[24:]
    energy.index = range(energy.shape[0])
    
    # 발전량 데이터가 있는 날짜만 선택
    # 모든 행 가져옴 그리고 열의 순서로 인덱스 설정
    fcst = fcst_df.loc[:25608-1]
    fcst.index = range(fcst.shape[0])
    
    # 발전량과 일기예보 연결
    #axis=1로 옆으로 합치기.
    concat_df = pd.concat([energy, fcst], axis=1)
    
    # 예보 시간 및 날짜 정보 feature로 추가
    #시간, 날짜 띄기
    concat_df['date'] = concat_df['Forecast_time'].str.split(' ').str[0]
    concat_df['hour'] = concat_df['Forecast_time'].str.split(' ').str[1].str.split(':').str[0].astype(int)
    
    concat_df['year'] = concat_df['date'].str.split('-').str[0].astype(int)
    concat_df['month'] = concat_df['date'].str.split('-').str[1].astype(int)
    concat_df['day'] = concat_df['date'].str.split('-').str[2].astype(int)
    
    # 예보 시간, 날짜, 기상 예보 및 발전량 선택
    feature_df = concat_df[['year', 'month', 'day', 'hour', 'Temperature', 'Humidity', 'WindSpeed', 'WindDirection', 'Cloud', target]]
    
    # 마지막 30일을 검증데이터셋으로 나머지를 학습 데이터셋으로 선택
    # 열 가져옴 train, test 나눠서 가져옴
    train_df = feature_df.iloc[:-24*30]
    val_df = feature_df.iloc[-24*30:]
    
    # 발전량이 0인 데이터를 제외
    
    train_df = train_df[train_df[target]!=0]
    # 행 가져오는   val_df = feature_df.iloc[-24*30:]
        
            # 발전량이 0인 데이터를 제외
                
                    train_df = train_df[train_df[target]!=0]
                        # 행 가져오는
                            train_x = train_df.loc[:, 'year':'Cloud'].to_numpy()
                                train_y = train_df[target].to_numpy()
                                    
                                        val_x = val_df.loc[:, 'year':'Cloud'].to_numpy()
                                        
    train_x = train_df.loc[:, 'year':'Cloud'].to_numpy()
    train_y = train_df[target].to_numpy()
    
    val_x = val_df.loc[:, 'year':'Cloud'].to_numpy()
    val_y = val_df[target].to_numpy()
    
    return train_x, train_y, val_x, val_y